Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.8)
Maintainer: Juuso Vilmunen <juuso@vilmunen.net>
Description: CollabThings
Distribution: development