Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-9-jdk (>= 9)
Maintainer: Juuso Vilmunen <juuso@vilmunen.net>
Description: CollabThings
Distribution: development